<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>FastBank</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<!-- favicon -->
		<link rel="shortcut icon" href="images/icone.png" />
	</head>

	<body>
		<script>
			$(document).ready(function(){
			  $('.dropDownDebito').on("click", function(e){

				$('#ulCredito').collapse();
				$('#ulDebito').toggle();
				e.stopPropagation();
				e.preventDefault();
			  });
			});

			$(document).ready(function(){
			  $('.dropDownCredito').on("click", function(e){

				$('#ulDebito').collapse();
				$('#ulCredito').toggle();
				e.stopPropagation();
				e.preventDefault();
			  });
			});


			function fechaMenu() {
				$('.dropdown-menu submenu').remove();
			}

			function bloquearCredito(contaId) {

				var data = {};
					data.conta_id = contaId;
					data.tipo_cartao = "C";

					console.log(data);

				$.ajax({
						url: 'transferencia/bloquearcartao',
                        method: "post",
                        data:data,
						success: function(result){
							alert('Cartão bloqueado com sucesso!');
						}
				});
			}

			function bloquearDebito(contaId) {

				var data = {};
					data.conta_id = contaId;
					data.tipo_cartao = "D";

				$.ajax({
						url: 'transferencia/bloquearcartao',
                        method: "post",
                        data:data,
						success: function(result){
							alert('Cartão bloqueado com sucesso!');
						}
				});
			}

			function ativarCredito(contaId) {

				var data = {};
					data.conta_id = contaId;
					data.tipo_cartao = "C";
				

				$.ajax({
						url: 'transferencia/ativarcartao',
						method: "post",
						data:data,
						success: function(result){
							alert('Cartão ativado com sucesso!');
						}
				});
			}

			function ativarDebito(contaId) {

				var data = {};
					data.conta_id = contaId;
					data.tipo_cartao = "C";

				$.ajax({
						url: 'transferencia/ativarcartao',
						method: "post",
						data:data,
						success: function(result){
							alert('Cartão ativado com sucesso!');
						}
				});
			}
		</script>
		<style>
			.dropdown-submenu {
			  position: relative;
			}
			
			.dropdown-submenu .dropdown-menu {
			  top: 0;
			  left: 100%;
			  margin-top: -1px;
			}
		</style>

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">               
					<img src="images/logo-200.jpg" />
				</div>
			</div>
		</nav>
		<nav class="navbar navbar-default navbar-align">
			<div class="container-fluid">
			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header nav-align">
				<button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand " style="color: #d67d09;">Olá, <%= usuario.nome %>!</a>
				<a class="navbar-brand active">Início</a>
			  </div>
		  
			  <!-- Collect the nav links, forms, and other content for toggling -->
			  <div class="collapse navbar-collapse nav-align" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				  	<li class="">
					  <a href="/extrato">Extrato <span class="sr-only">(current)</span></a>
					</li>
					<li><a href="/transferencia">Transferências</a></li> 
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							Conta <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="home?digito=1">Corrente</a></li>
							<li><a href="home?digito=0" >Poupança</a></li>
						</ul>			
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							Cartões <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<% if(usuario.digito == 1) {%>
								<li class="dropdown-submenu">
									<a class="dropDownCredito" tabindex="-1" href="#">Crédito <span class="caret"></span></a>
									<ul class="dropdown-menu ulCredito" id="ulCredito" onblur="fechaMenu()">
									  <li><a tabindex="-1" href="#" onclick="bloquearCredito('<%= usuario.conta_id %>')">Bloquear cartão de crédito</a></li>
									  <li><a tabindex="-1" href="#" onclick="ativarCredito('<%= usuario.conta_id %>')">Ativar cartão de crédito</a></li>
									</ul>
									<a class="dropDownDebito" tabindex="-1" href="#">Débito <span class="caret"></span></a>
									<ul class="dropdown-menu ulDebito" id="ulDebito" onblur="fechaMenu()">
									  <li><a tabindex="-1" href="#" onclick="bloquearDebito('<%= usuario.conta_id %>')">Bloquear cartão de débito</a></li>
									  <li><a tabindex="-1" href="#" onclick="ativarDebito('<%= usuario.conta_id %>')">Ativar cartão de débito</a></li>
									</ul>
								</li>
							<% } %>
							<% if(usuario.digito == 0) {%>
								<li class="dropdown-submenu">
									<a class="test" tabindex="-1" href="#">Débito <span class="caret"></span></a>
									<ul class="dropdown-menu">
									  <li><a tabindex="-1" href="#" onclick="bloquearDebito('<%= usuario.conta_id %>')">Bloquear cartão de débito</a></li>
									  <li><a tabindex="-1" href="#" onclick="ativarDebito('<%= usuario.conta_id %>')">Ativar cartão de débito</a></li>
									</ul>
								</li>
							<% } %>
							
						</ul>			
					</li>		
				</ul>
				<ul class="nav navbar-nav navbar-right">
							<li><a href="/logout"><b>Sair</b></a></li>
						</ul>
			  </div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		  </nav>

		  <% 
		  function formatReal( n )
			  {
				if (n == 0 || n == null) {

					return "R$ 0,0";
				}
				else {
				  var tmp =  "R$ " + n.toFixed(2).replace('.', ',').replace(/(\d)(?=(\d{3})+\,)/g, "$1.");
				  return tmp;
				}
			  }
		  %>

	    <div class="container">
		
			<div class="row">
	    		<div class="col-md-12">
	    			<div class="banco_wrapper">
		    			<span class="banco_autor"><h4>Saldo em Conta 
							<% if(usuario.digito == 1) {%>
								Corrente
							<% } %>
							<% if(usuario.digito == 0) {%>
								Poupança
							<% } %>
						</h4></span>
		    			<div class="banco_titulo"><%= formatReal(dados[0].saldo) %></div>
		    		</div>
		    	</div>
			</div>
	    </div>
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>